{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ 'title' | trans({}, 'audioguides') }}</h1>
    <div class="row mb-3">
        <a href="?lang=es" class="btn btn-primary">{{ 'langEs' | trans({}, 'audioguides') }}</a>
        <a href="?lang=en" class="btn btn-primary">{{ 'langEn' | trans({}, 'audioguides') }}</a>
    </div>
    <div class="row">
        {% for audio in audios %}
            <div class="card col-12 col-md-6 col-lg-4 mb-4" style="padding: .5em;">
                <img class="card-img-top" src="{{ path('audio_image', {'id': audio.id}) }}" alt="{{ attribute(audio, 'name' ~ language|capitalize) }}">
                {% if app.request.get('lang') == 'es' %}
                    <audio src="{{ path('audio_play_es', {'id': audio.id}) }}" controls></audio>
                {% elseif app.request.get('lang') == 'en' %}
                    <audio src="{{ path('audio_play_en', {'id': audio.id}) }}" controls></audio>
                {% else %}
                    <audio src="{{ path('audio_play_es', {'id': audio.id}) }}" controls></audio> <!-- Default to Spanish if no language is specified -->
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ attribute(audio, 'name' ~ language|capitalize) }}</h5>
                    <p class="card-text">{{ attribute(audio, 'text' ~ language|capitalize) }}</p>
                </div>
            </div>
        {% else %}
            <h5>{{ 'no_audios' | trans({}, 'audioguides') }}</h5>
        {% endfor %}
    </div>
{% endblock %}
