{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ 'title' | trans({}, 'audioguides') }}</h1>
    <div class="row">
        <a href="?lang=es" class="btn btn-primary">{{ 'langEs' | trans({}, 'audioguides') }}</a>
        <a href="?lang=en" class="btn btn-primary">{{ 'langEn' | trans({}, 'audioguides') }}</a>
    </div>
    <div class="row">
        {% for audio in audios %}
            <div class="card col" style="width: 18rem; margin: 1em; padding: .5em;">
                <img class="card-img-top" src="{{ audio.image }}" alt="{{ attribute(audio, 'name' ~ language|capitalize) }}">
                <audio src="{{ attribute(audio, 'audio' ~ language|capitalize) }}" controls autoplay></audio>
                <div class="card-body">
                    <h5 class="card-title">{{ attribute(audio, 'name' ~ language|capitalize) }}</h5>
                    <p class="card-text">{{ attribute(audio, 'text' ~ language|capitalize) }}</p>
                </div>
            </div>
        {% else %}
            <h5>{{ 'no_audios' | trans({}, 'audioguides') }}</h5>
        {% endfor %}
    </div>
{% endblock %}
