{% trans_default_domain 'menu.es.yml' %}
{% set current_path = app.request.get('_route')|split('_') %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <h3><a class="navbar-brand" href="{{ path('index') }}"><i class="fa-solid fa-podcast"></i> {{ 'brand.name' | trans({}, 'menu') }}</a></h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index') }}"><i class="fa-solid fa-house"></i> {{ 'menu.home' | trans({}, 'menu') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('audioguides') }}"><i class="fa-solid fa-circle-play"></i> {{ 'menu.audio' | trans({}, 'menu') }}</a>
                </li>
            </ul>
        </div>{#
        {% if app.user %}
            <h5>Conectado como {{ app.user.email }}</h5>
            <a href="{{ path('app_logout_es') }}" class="btn btn-danger">{{ 'logout' | trans }}</a>
        {% else %}
            <a href="{{ path('app_login_es') }}" class="btn btn-primary">{{ 'login' | trans }}</a>
        {% endif %} #}
        <a href="#" class="btn btn-primary">{{ 'login' | trans({}, 'menu') }}</a>
    </div>
</nav>
