{% extends 'base.html.twig' %}

{% block body %}
    {% for mensaje in app.flashes('success') %}
        <div class="alert alert-success">{{ mensaje }}</div>
    {% endfor %}
    {% for mensaje in app.flashes('error') %}
        <div class="alert alert-error">{{ mensaje }}</div>
    {% endfor %}
    {% include '_navbar.html.twig' %}
    {# {% if app.user %}
        <h3>Conectado como {{ app.user.email }}</h3>
        <a href="{{ path('app_logout') }}" class="btn btn-danger">Cerrar sesión</a>
    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-primary">Iniciar sesión</a>
    {% endif %}  #}
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    {% include '_footer.html.twig' %}
{% endblock %}